*
!.vim/
!.vim/after
!.vim/after/**
!.vim/autoload
!.vim/autoload/**
!.vim/bundle
!.vim/bundle/**
!.vim/plugin
!.vim/plugin/**
!.vim/tools
!.vim/tools/**
!.bash-git-prompt
!.bash-git-prompt/**
!.bash-git-rc
!.vimrc
!.profile
!.bash_profile
!.gitignore
!.gitmodules
